
.vs/EFLI Position Manager/v16/.suo
EFLI Position Manager/bin/Debug/EFLI Position Manager.exe
EFLI Position Manager/bin/Debug/EFLI Position Manager.exe.config
EFLI Position Manager/bin/Debug/EFLI Position Manager.pdb
EFLI Position Manager/bin/x64/Debug/EFLI Position Manager.exe
EFLI Position Manager/bin/x64/Debug/EFLI Position Manager.exe.config
EFLI Position Manager/bin/x64/Debug/EFLI Position Manager.pdb
*.cache
*.exe
*.pdb
*.resources
EFLI Position Manager/obj/x64/Debug/EFLI Position Manager.csproj.FileListAbsolute.txt
EFLI Position Manager/obj/Debug/EFLI Position Manager.csproj.FileListAbsolute.txt
EFLI Position Manager/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
EFLI Position Manager/obj/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
EFLI Position Manager/bin/x64/Release/EFLI Position Manager.exe.config
EFLI Position Manager/obj/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
EFLI Position Manager/obj/x64/Release/EFLI Position Manager.csproj.FileListAbsolute.txt
